/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

header nav {
    margin-top: 25px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

.contacto-info {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 100px;   /* Añadido espacio superior */
    margin-bottom: 80px; /* Añadido espacio inferior */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.quienes-somos-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px; /* Añadido espacio inferior */
}

.quienes-somos-content img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.quienes-somos-texto {
    max-width: 600px;
}

.servicio {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.servicio img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.servicio-info {
    max-width: 600px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin-bottom: 40px; /* Añadido espacio inferior */
}

.gallery-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px; /* Añadido espacio superior */
}

/* Media Queries */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .quienes-somos-content {
        flex-direction: column;
        text-align: center;
    }
    .servicio {
        flex-direction: column;
        text-align: center;
    }
    .servicio img {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8em;
    }
    .container {
        width: 90%;
    }
    .gallery-container {
        grid-template-columns: 1fr;
    }
}
